[Unit]
Description=Display stdout (RAM files) on oled
Requires=tmp.mount
After=multi-user.target tmp.mount

[Service]
Type=idle

User=akira
ExecStart=/usr/bin/python3 /home/akira/docker/display/oled.py

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target